<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTest" verbose="1">
    
    <listeners>
        <listener class-name="listener.testListener"/>
    </listeners>

    <test name="Browser initialization">
        <classes>
            <class name="BrowserConfig"/>
        </classes>
    </test>

    <test name="OpenSite">
        <packages>
            <package name="ojhfoi.navigate" />
        </packages>
    </test>

</suite>